<!-- <p>adminsignup works!</p> -->
<div class="container" style="margin-top:80px;">
    <form [formGroup] ="form"(ngSubmit)="onSubmit()" class="signupbox">
        <h4 class="name-head">Admin full Name</h4>
        <mat-form-field appearance="outline" class="placewidth" >
            <input matInput placeholder="name" formControlName="name">
            <mat-error *ngIf="form.controls.name.errors">Fullname is required!</mat-error>
        </mat-form-field>

        <h4 class="Pass">Admin email Id</h4>
        <mat-form-field  class="placewidth" appearance="outline">
            <input matInput placeholder="" formControlName="userName">
            <mat-error *ngIf="form.controls.userName.errors">UserName is required!</mat-error>
        </mat-form-field>
        
        <h4 class="Pass">Password</h4>
        <mat-form-field class="placewidth" appearance="outline" >
            <input matInput class="input-text" [type]="hide ? 'password' : 'text'" formControlName="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.password.errors">Password is required!</mat-error>
        </mat-form-field>
        <h4 class="Pass">Mobile Number</h4>
        <mat-form-field class="placewidth" appearance="outline" >
            <mat-label></mat-label>
            <input matInput placeholder="" formControlName="number">
            <mat-error *ngIf="form.controls.number.errors">Phone Number is required!</mat-error>
        </mat-form-field>
        
        <div class="signup-button">
            <button type="submit" class="signup-button" mat-flat-button color="warn">Signup</button>
        </div>
    </form>
</div>