<!-- <p>sub-header works!</p> -->
<div class="books-menu" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div>
        <span class="books">Books</span>
    </div>
    <div class="sort">

        <mat-form-field appearance="outline">
            <select matNativeControl fxLayoutAlign="center center">
            <option value="relevence">Sort by relevence</option>
            <option value="L2H">Price: Low to High</option>
            <option value="H2L">Price: High to Low</option>
            <option value="NA">Newest Arrivals</option>
            </select>
        </mat-form-field>
    </div>
</div>