<!-- <p>userlogindisplay works!</p> -->
<div class="container">
    <div class="logoBox">
        <img src="../../../assets/loginIcon.png" alt="Bookstore-logo">
        <h2 class="desc">ONLINE BOOK SHOPPING</h2>
    </div>
    <div class="selectionBox">
        <div class="header">
            <h2 class="select" routerLink="login">LOGIN</h2>
            <h2 class="select" routerLink="signup">SIGNUP</h2>
        </div>
        <div>
             <router-outlet></router-outlet>
        </div>
    </div>
</div>
